Website/Service References/SanPham_Service/SanPham_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SanPham_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="SanPham_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_GetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_sp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_GetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_GetByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_GetByCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_loai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_GetByCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_GetByCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_SearchResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_SearchAdvanced">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten_sp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loai" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="giaMin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="giaMax" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_SearchAdvancedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_SearchAdvancedResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_GetByPrice_Between">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="gia1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gia2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_GetByPrice_BetweenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_GetByPrice_BetweenResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_SanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_sp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_SanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_SanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_SanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_sp" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ten_sp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mota" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gia" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="hinh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="phanloai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_SanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_SanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_SanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten_sp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mota" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gia" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="hinh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="phanloai" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_SanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insert_SanPhamResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhMuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_danhmuc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDanhMucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDanhMucResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DanhMuc_Load">
        <s:complexType />
      </s:element>
      <s:element name="DanhMuc_LoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhMuc_LoadResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SanPham_Load">
        <s:complexType />
      </s:element>
      <s:element name="SanPham_LoadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SanPham_LoadResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSanPham">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_sp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSanPhamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSanPhamResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_sp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGiaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SanPham_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_GetAll" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_GetByID" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetByCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_GetByCategories" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetByCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_GetByCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="SanPham_SearchSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_Search" />
  </wsdl:message>
  <wsdl:message name="SanPham_SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_SearchResponse" />
  </wsdl:message>
  <wsdl:message name="SanPham_SearchAdvancedSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_SearchAdvanced" />
  </wsdl:message>
  <wsdl:message name="SanPham_SearchAdvancedSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_SearchAdvancedResponse" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetByPrice_BetweenSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_GetByPrice_Between" />
  </wsdl:message>
  <wsdl:message name="SanPham_GetByPrice_BetweenSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_GetByPrice_BetweenResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_SanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_SanPham" />
  </wsdl:message>
  <wsdl:message name="Delete_SanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_SanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="Update_SanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:Update_SanPham" />
  </wsdl:message>
  <wsdl:message name="Update_SanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:Update_SanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_SanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_SanPham" />
  </wsdl:message>
  <wsdl:message name="Insert_SanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_SanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="GetDanhMucSoapIn">
    <wsdl:part name="parameters" element="tns:GetDanhMuc" />
  </wsdl:message>
  <wsdl:message name="GetDanhMucSoapOut">
    <wsdl:part name="parameters" element="tns:GetDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DanhMuc_LoadSoapIn">
    <wsdl:part name="parameters" element="tns:DanhMuc_Load" />
  </wsdl:message>
  <wsdl:message name="DanhMuc_LoadSoapOut">
    <wsdl:part name="parameters" element="tns:DanhMuc_LoadResponse" />
  </wsdl:message>
  <wsdl:message name="SanPham_LoadSoapIn">
    <wsdl:part name="parameters" element="tns:SanPham_Load" />
  </wsdl:message>
  <wsdl:message name="SanPham_LoadSoapOut">
    <wsdl:part name="parameters" element="tns:SanPham_LoadResponse" />
  </wsdl:message>
  <wsdl:message name="GetSanPhamSoapIn">
    <wsdl:part name="parameters" element="tns:GetSanPham" />
  </wsdl:message>
  <wsdl:message name="GetSanPhamSoapOut">
    <wsdl:part name="parameters" element="tns:GetSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="GetGiaSoapIn">
    <wsdl:part name="parameters" element="tns:GetGia" />
  </wsdl:message>
  <wsdl:message name="GetGiaSoapOut">
    <wsdl:part name="parameters" element="tns:GetGiaResponse" />
  </wsdl:message>
  <wsdl:portType name="SanPham_ServiceSoap">
    <wsdl:operation name="SanPham_GetAll">
      <wsdl:input message="tns:SanPham_GetAllSoapIn" />
      <wsdl:output message="tns:SanPham_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByID">
      <wsdl:input message="tns:SanPham_GetByIDSoapIn" />
      <wsdl:output message="tns:SanPham_GetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByCategories">
      <wsdl:input message="tns:SanPham_GetByCategoriesSoapIn" />
      <wsdl:output message="tns:SanPham_GetByCategoriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanPham_Search">
      <wsdl:input message="tns:SanPham_SearchSoapIn" />
      <wsdl:output message="tns:SanPham_SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanPham_SearchAdvanced">
      <wsdl:input message="tns:SanPham_SearchAdvancedSoapIn" />
      <wsdl:output message="tns:SanPham_SearchAdvancedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByPrice_Between">
      <wsdl:input message="tns:SanPham_GetByPrice_BetweenSoapIn" />
      <wsdl:output message="tns:SanPham_GetByPrice_BetweenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_SanPham">
      <wsdl:input message="tns:Delete_SanPhamSoapIn" />
      <wsdl:output message="tns:Delete_SanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_SanPham">
      <wsdl:input message="tns:Update_SanPhamSoapIn" />
      <wsdl:output message="tns:Update_SanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_SanPham">
      <wsdl:input message="tns:Insert_SanPhamSoapIn" />
      <wsdl:output message="tns:Insert_SanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDanhMuc">
      <wsdl:input message="tns:GetDanhMucSoapIn" />
      <wsdl:output message="tns:GetDanhMucSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DanhMuc_Load">
      <wsdl:input message="tns:DanhMuc_LoadSoapIn" />
      <wsdl:output message="tns:DanhMuc_LoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SanPham_Load">
      <wsdl:input message="tns:SanPham_LoadSoapIn" />
      <wsdl:output message="tns:SanPham_LoadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSanPham">
      <wsdl:input message="tns:GetSanPhamSoapIn" />
      <wsdl:output message="tns:GetSanPhamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGia">
      <wsdl:input message="tns:GetGiaSoapIn" />
      <wsdl:output message="tns:GetGiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SanPham_ServiceSoap" type="tns:SanPham_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SanPham_GetAll">
      <soap:operation soapAction="http://tempuri.org/SanPham_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByID">
      <soap:operation soapAction="http://tempuri.org/SanPham_GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByCategories">
      <soap:operation soapAction="http://tempuri.org/SanPham_GetByCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_Search">
      <soap:operation soapAction="http://tempuri.org/SanPham_Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_SearchAdvanced">
      <soap:operation soapAction="http://tempuri.org/SanPham_SearchAdvanced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByPrice_Between">
      <soap:operation soapAction="http://tempuri.org/SanPham_GetByPrice_Between" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_SanPham">
      <soap:operation soapAction="http://tempuri.org/Delete_SanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_SanPham">
      <soap:operation soapAction="http://tempuri.org/Update_SanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_SanPham">
      <soap:operation soapAction="http://tempuri.org/Insert_SanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhMuc">
      <soap:operation soapAction="http://tempuri.org/GetDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMuc_Load">
      <soap:operation soapAction="http://tempuri.org/DanhMuc_Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_Load">
      <soap:operation soapAction="http://tempuri.org/SanPham_Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSanPham">
      <soap:operation soapAction="http://tempuri.org/GetSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGia">
      <soap:operation soapAction="http://tempuri.org/GetGia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SanPham_ServiceSoap12" type="tns:SanPham_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SanPham_GetAll">
      <soap12:operation soapAction="http://tempuri.org/SanPham_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByID">
      <soap12:operation soapAction="http://tempuri.org/SanPham_GetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByCategories">
      <soap12:operation soapAction="http://tempuri.org/SanPham_GetByCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_Search">
      <soap12:operation soapAction="http://tempuri.org/SanPham_Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_SearchAdvanced">
      <soap12:operation soapAction="http://tempuri.org/SanPham_SearchAdvanced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_GetByPrice_Between">
      <soap12:operation soapAction="http://tempuri.org/SanPham_GetByPrice_Between" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_SanPham">
      <soap12:operation soapAction="http://tempuri.org/Delete_SanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_SanPham">
      <soap12:operation soapAction="http://tempuri.org/Update_SanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_SanPham">
      <soap12:operation soapAction="http://tempuri.org/Insert_SanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDanhMuc">
      <soap12:operation soapAction="http://tempuri.org/GetDanhMuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhMuc_Load">
      <soap12:operation soapAction="http://tempuri.org/DanhMuc_Load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SanPham_Load">
      <soap12:operation soapAction="http://tempuri.org/SanPham_Load" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSanPham">
      <soap12:operation soapAction="http://tempuri.org/GetSanPham" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGia">
      <soap12:operation soapAction="http://tempuri.org/GetGia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SanPham_Service">
    <wsdl:port name="SanPham_ServiceSoap" binding="tns:SanPham_ServiceSoap">
      <soap:address location="http://localhost:2122/SanPham_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="SanPham_ServiceSoap12" binding="tns:SanPham_ServiceSoap12">
      <soap12:address location="http://localhost:2122/SanPham_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>