WindowsForms/Web References/DonHang_ServiceReferences/DonHang_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DonHang_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="DonHang_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DonHang_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo_KhachHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_kh" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo_KhachHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfo_KhachHangResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo_KhachHangPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfo_KhachHangPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfo_KhachHangPhoneResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DonHang_GetByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fromDay" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDay" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DonHang_GetByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DonHang_GetByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DonHang_GetByCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_kh" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DonHang_GetByCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DonHang_GetByCustomerResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DonHang_GetLastID">
        <s:complexType />
      </s:element>
      <s:element name="DonHang_GetLastIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DonHang_GetLastIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_DonHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_dh" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_DonHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_DonHangResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_DonHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_donhang" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tinh_trang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ma_nv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_DonHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_DonHangResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_DonHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ngay_dh" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="tinh_trang" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ma_kh" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ma_nv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_DonHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insert_DonHangResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DonHang_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:DonHang_GetAll" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:DonHang_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfo_KhachHangSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo_KhachHang" />
  </wsdl:message>
  <wsdl:message name="GetInfo_KhachHangSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfo_KhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfo_KhachHangPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfo_KhachHangPhone" />
  </wsdl:message>
  <wsdl:message name="GetInfo_KhachHangPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfo_KhachHangPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetByDateSoapIn">
    <wsdl:part name="parameters" element="tns:DonHang_GetByDate" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetByDateSoapOut">
    <wsdl:part name="parameters" element="tns:DonHang_GetByDateResponse" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetByCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:DonHang_GetByCustomer" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetByCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:DonHang_GetByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetLastIDSoapIn">
    <wsdl:part name="parameters" element="tns:DonHang_GetLastID" />
  </wsdl:message>
  <wsdl:message name="DonHang_GetLastIDSoapOut">
    <wsdl:part name="parameters" element="tns:DonHang_GetLastIDResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_DonHangSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_DonHang" />
  </wsdl:message>
  <wsdl:message name="Delete_DonHangSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_DonHangResponse" />
  </wsdl:message>
  <wsdl:message name="Update_DonHangSoapIn">
    <wsdl:part name="parameters" element="tns:Update_DonHang" />
  </wsdl:message>
  <wsdl:message name="Update_DonHangSoapOut">
    <wsdl:part name="parameters" element="tns:Update_DonHangResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_DonHangSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_DonHang" />
  </wsdl:message>
  <wsdl:message name="Insert_DonHangSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_DonHangResponse" />
  </wsdl:message>
  <wsdl:portType name="DonHang_ServiceSoap">
    <wsdl:operation name="DonHang_GetAll">
      <wsdl:input message="tns:DonHang_GetAllSoapIn" />
      <wsdl:output message="tns:DonHang_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo_KhachHang">
      <wsdl:input message="tns:GetInfo_KhachHangSoapIn" />
      <wsdl:output message="tns:GetInfo_KhachHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfo_KhachHangPhone">
      <wsdl:input message="tns:GetInfo_KhachHangPhoneSoapIn" />
      <wsdl:output message="tns:GetInfo_KhachHangPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetByDate">
      <wsdl:input message="tns:DonHang_GetByDateSoapIn" />
      <wsdl:output message="tns:DonHang_GetByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetByCustomer">
      <wsdl:input message="tns:DonHang_GetByCustomerSoapIn" />
      <wsdl:output message="tns:DonHang_GetByCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetLastID">
      <wsdl:input message="tns:DonHang_GetLastIDSoapIn" />
      <wsdl:output message="tns:DonHang_GetLastIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_DonHang">
      <wsdl:input message="tns:Delete_DonHangSoapIn" />
      <wsdl:output message="tns:Delete_DonHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_DonHang">
      <wsdl:input message="tns:Update_DonHangSoapIn" />
      <wsdl:output message="tns:Update_DonHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_DonHang">
      <wsdl:input message="tns:Insert_DonHangSoapIn" />
      <wsdl:output message="tns:Insert_DonHangSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DonHang_ServiceSoap" type="tns:DonHang_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DonHang_GetAll">
      <soap:operation soapAction="http://tempuri.org/DonHang_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo_KhachHang">
      <soap:operation soapAction="http://tempuri.org/GetInfo_KhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo_KhachHangPhone">
      <soap:operation soapAction="http://tempuri.org/GetInfo_KhachHangPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetByDate">
      <soap:operation soapAction="http://tempuri.org/DonHang_GetByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetByCustomer">
      <soap:operation soapAction="http://tempuri.org/DonHang_GetByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetLastID">
      <soap:operation soapAction="http://tempuri.org/DonHang_GetLastID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_DonHang">
      <soap:operation soapAction="http://tempuri.org/Delete_DonHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_DonHang">
      <soap:operation soapAction="http://tempuri.org/Update_DonHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_DonHang">
      <soap:operation soapAction="http://tempuri.org/Insert_DonHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DonHang_ServiceSoap12" type="tns:DonHang_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DonHang_GetAll">
      <soap12:operation soapAction="http://tempuri.org/DonHang_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo_KhachHang">
      <soap12:operation soapAction="http://tempuri.org/GetInfo_KhachHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfo_KhachHangPhone">
      <soap12:operation soapAction="http://tempuri.org/GetInfo_KhachHangPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetByDate">
      <soap12:operation soapAction="http://tempuri.org/DonHang_GetByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetByCustomer">
      <soap12:operation soapAction="http://tempuri.org/DonHang_GetByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DonHang_GetLastID">
      <soap12:operation soapAction="http://tempuri.org/DonHang_GetLastID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_DonHang">
      <soap12:operation soapAction="http://tempuri.org/Delete_DonHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_DonHang">
      <soap12:operation soapAction="http://tempuri.org/Update_DonHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_DonHang">
      <soap12:operation soapAction="http://tempuri.org/Insert_DonHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DonHang_Service">
    <wsdl:port name="DonHang_ServiceSoap" binding="tns:DonHang_ServiceSoap">
      <soap:address location="http://localhost:2122/DonHang_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="DonHang_ServiceSoap12" binding="tns:DonHang_ServiceSoap12">
      <soap12:address location="http://localhost:2122/DonHang_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>