WindowsForms/Web References/KhachHang_ServiceReferences/KhachHang_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="KhachHang_CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KhachHang_CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KhachHang_CheckLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KhachHang_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="KhachHang_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KhachHang_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KhachHang_GetByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten_kh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KhachHang_GetByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="KhachHang_GetByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_KhachHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_kh" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_KhachHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_KhachHangResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_KhachHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_kh" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="hoten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_KhachHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_KhachHangResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_KhachHang">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hoten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_KhachHangResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insert_KhachHangResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="KhachHang_CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:KhachHang_CheckLogin" />
  </wsdl:message>
  <wsdl:message name="KhachHang_CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:KhachHang_CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="KhachHang_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:KhachHang_GetAll" />
  </wsdl:message>
  <wsdl:message name="KhachHang_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:KhachHang_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="KhachHang_GetByNameSoapIn">
    <wsdl:part name="parameters" element="tns:KhachHang_GetByName" />
  </wsdl:message>
  <wsdl:message name="KhachHang_GetByNameSoapOut">
    <wsdl:part name="parameters" element="tns:KhachHang_GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_KhachHangSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_KhachHang" />
  </wsdl:message>
  <wsdl:message name="Delete_KhachHangSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_KhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="Update_KhachHangSoapIn">
    <wsdl:part name="parameters" element="tns:Update_KhachHang" />
  </wsdl:message>
  <wsdl:message name="Update_KhachHangSoapOut">
    <wsdl:part name="parameters" element="tns:Update_KhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_KhachHangSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_KhachHang" />
  </wsdl:message>
  <wsdl:message name="Insert_KhachHangSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_KhachHangResponse" />
  </wsdl:message>
  <wsdl:portType name="KhachHang_ServiceSoap">
    <wsdl:operation name="KhachHang_CheckLogin">
      <wsdl:input message="tns:KhachHang_CheckLoginSoapIn" />
      <wsdl:output message="tns:KhachHang_CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KhachHang_GetAll">
      <wsdl:input message="tns:KhachHang_GetAllSoapIn" />
      <wsdl:output message="tns:KhachHang_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KhachHang_GetByName">
      <wsdl:input message="tns:KhachHang_GetByNameSoapIn" />
      <wsdl:output message="tns:KhachHang_GetByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_KhachHang">
      <wsdl:input message="tns:Delete_KhachHangSoapIn" />
      <wsdl:output message="tns:Delete_KhachHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_KhachHang">
      <wsdl:input message="tns:Update_KhachHangSoapIn" />
      <wsdl:output message="tns:Update_KhachHangSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_KhachHang">
      <wsdl:input message="tns:Insert_KhachHangSoapIn" />
      <wsdl:output message="tns:Insert_KhachHangSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KhachHang_ServiceSoap" type="tns:KhachHang_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KhachHang_CheckLogin">
      <soap:operation soapAction="http://tempuri.org/KhachHang_CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KhachHang_GetAll">
      <soap:operation soapAction="http://tempuri.org/KhachHang_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KhachHang_GetByName">
      <soap:operation soapAction="http://tempuri.org/KhachHang_GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_KhachHang">
      <soap:operation soapAction="http://tempuri.org/Delete_KhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_KhachHang">
      <soap:operation soapAction="http://tempuri.org/Update_KhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_KhachHang">
      <soap:operation soapAction="http://tempuri.org/Insert_KhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KhachHang_ServiceSoap12" type="tns:KhachHang_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KhachHang_CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/KhachHang_CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KhachHang_GetAll">
      <soap12:operation soapAction="http://tempuri.org/KhachHang_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KhachHang_GetByName">
      <soap12:operation soapAction="http://tempuri.org/KhachHang_GetByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_KhachHang">
      <soap12:operation soapAction="http://tempuri.org/Delete_KhachHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_KhachHang">
      <soap12:operation soapAction="http://tempuri.org/Update_KhachHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_KhachHang">
      <soap12:operation soapAction="http://tempuri.org/Insert_KhachHang" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KhachHang_Service">
    <wsdl:port name="KhachHang_ServiceSoap" binding="tns:KhachHang_ServiceSoap">
      <soap:address location="http://localhost:2122/KhachHang_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="KhachHang_ServiceSoap12" binding="tns:KhachHang_ServiceSoap12">
      <soap12:address location="http://localhost:2122/KhachHang_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>