SERVICE/Service References/Connect_ServiceReference/Connect_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChuoiKetNoi">
        <s:complexType />
      </s:element>
      <s:element name="ChuoiKetNoiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChuoiKetNoiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChuoiKetNoiSoapIn">
    <wsdl:part name="parameters" element="tns:ChuoiKetNoi" />
  </wsdl:message>
  <wsdl:message name="ChuoiKetNoiSoapOut">
    <wsdl:part name="parameters" element="tns:ChuoiKetNoiResponse" />
  </wsdl:message>
  <wsdl:portType name="Connect_ServiceSoap">
    <wsdl:operation name="ChuoiKetNoi">
      <wsdl:input message="tns:ChuoiKetNoiSoapIn" />
      <wsdl:output message="tns:ChuoiKetNoiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Connect_ServiceSoap" type="tns:Connect_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChuoiKetNoi">
      <soap:operation soapAction="http://tempuri.org/ChuoiKetNoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Connect_ServiceSoap12" type="tns:Connect_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChuoiKetNoi">
      <soap12:operation soapAction="http://tempuri.org/ChuoiKetNoi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Connect_Service">
    <wsdl:port name="Connect_ServiceSoap" binding="tns:Connect_ServiceSoap">
      <soap:address location="http://localhost:2122/Connect_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="Connect_ServiceSoap12" binding="tns:Connect_ServiceSoap12">
      <soap12:address location="http://localhost:2122/Connect_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>