WindowsForms/Web References/NhanVien_ServiceReferences/NhanVien_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhanVien_GetAll">
        <s:complexType />
      </s:element>
      <s:element name="NhanVien_GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NhanVien_GetAllResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhanVien_GetByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten_nv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhanVien_GetByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NhanVien_GetByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_NhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_nv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_NhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Delete_NhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_NhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ma_nv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ten_nv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update_NhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Update_NhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_NhanVien">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ten_nv" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sdt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diachi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="acccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_NhanVienResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Insert_NhanVienResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="CheckLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="NhanVien_GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:NhanVien_GetAll" />
  </wsdl:message>
  <wsdl:message name="NhanVien_GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:NhanVien_GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="NhanVien_GetByNameSoapIn">
    <wsdl:part name="parameters" element="tns:NhanVien_GetByName" />
  </wsdl:message>
  <wsdl:message name="NhanVien_GetByNameSoapOut">
    <wsdl:part name="parameters" element="tns:NhanVien_GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_NhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_NhanVien" />
  </wsdl:message>
  <wsdl:message name="Delete_NhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_NhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="Update_NhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:Update_NhanVien" />
  </wsdl:message>
  <wsdl:message name="Update_NhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:Update_NhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_NhanVienSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_NhanVien" />
  </wsdl:message>
  <wsdl:message name="Insert_NhanVienSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_NhanVienResponse" />
  </wsdl:message>
  <wsdl:portType name="NhanVien_ServiceSoap">
    <wsdl:operation name="CheckLogin">
      <wsdl:input message="tns:CheckLoginSoapIn" />
      <wsdl:output message="tns:CheckLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NhanVien_GetAll">
      <wsdl:input message="tns:NhanVien_GetAllSoapIn" />
      <wsdl:output message="tns:NhanVien_GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NhanVien_GetByName">
      <wsdl:input message="tns:NhanVien_GetByNameSoapIn" />
      <wsdl:output message="tns:NhanVien_GetByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_NhanVien">
      <wsdl:input message="tns:Delete_NhanVienSoapIn" />
      <wsdl:output message="tns:Delete_NhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update_NhanVien">
      <wsdl:input message="tns:Update_NhanVienSoapIn" />
      <wsdl:output message="tns:Update_NhanVienSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_NhanVien">
      <wsdl:input message="tns:Insert_NhanVienSoapIn" />
      <wsdl:output message="tns:Insert_NhanVienSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NhanVien_ServiceSoap" type="tns:NhanVien_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhanVien_GetAll">
      <soap:operation soapAction="http://tempuri.org/NhanVien_GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhanVien_GetByName">
      <soap:operation soapAction="http://tempuri.org/NhanVien_GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_NhanVien">
      <soap:operation soapAction="http://tempuri.org/Delete_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_NhanVien">
      <soap:operation soapAction="http://tempuri.org/Update_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_NhanVien">
      <soap:operation soapAction="http://tempuri.org/Insert_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NhanVien_ServiceSoap12" type="tns:NhanVien_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap12:operation soapAction="http://tempuri.org/CheckLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhanVien_GetAll">
      <soap12:operation soapAction="http://tempuri.org/NhanVien_GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NhanVien_GetByName">
      <soap12:operation soapAction="http://tempuri.org/NhanVien_GetByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_NhanVien">
      <soap12:operation soapAction="http://tempuri.org/Delete_NhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_NhanVien">
      <soap12:operation soapAction="http://tempuri.org/Update_NhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_NhanVien">
      <soap12:operation soapAction="http://tempuri.org/Insert_NhanVien" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NhanVien_Service">
    <wsdl:port name="NhanVien_ServiceSoap" binding="tns:NhanVien_ServiceSoap">
      <soap:address location="http://localhost:2122/NhanVien_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="NhanVien_ServiceSoap12" binding="tns:NhanVien_ServiceSoap12">
      <soap12:address location="http://localhost:2122/NhanVien_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>